.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* <---------------chart-styles--------> */

.recharts-wrapper .recharts-cartesian-grid-horizontal line:nth-last-child(2),
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
  stroke-opacity: 0;
  display: none;
}
/* <---------------chart-styles--------> */

/* <---------------scrollbar-styles--------> */
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3758cc;
  width: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3758cc;
}

/* <---------------scrollbar-styles--------> */

/* <---------------calendar-styles--------> */
.calendarPop .ant-picker-cell .ant-picker-cell-inner {
  line-height: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}
.calendarPop
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.calendarPop
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
.calendarPop .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.calendarPop .ant-picker-cell-range-hover {
  height: 30px !important;
}
.calendarPop .ant-picker-panels {
  margin-top: 10px;
}
.ant-picker-footer {
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .ant-picker-panels {
    display: flex !important;
    flex-direction: column !important;
  }
  .ant-picker-panel-container > div {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .ant-picker-panel-container .panel-calendar {
    width: auto;
  }
  .ant-picker-panel-container .panel-calendar-btn {
    width: 45%;
    text-align: center;
  }
}

/* <---------------calendar-styles--------> */
